.arrays{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
}
.decor-text{
  z-index: 0;
}
.database__text{
  width: fit-content;
}
.arrays .sec{
  width: 100%;
  height: 100%;
  opacity: 0;
  display: block;
  background: #fff;
}
.arrays .sec:hover{
  animation: hoverTextDecor 1s forwards;
}
@keyframes hoverTextDecor {
  from{
      opacity: 1;
  }
  to{
      opacity: 0;
  }
}

.database__form,
.database__text,
.database__title{
  z-index: 1;
  position: relative;
}

.decor-span span{
  transform: translateY(0px);
  @media (any-hover) {
    transform: translateY(100px);
  }
  display: block;
}
.decor-span{
  overflow: hidden;
  display: block;
}
.decor-span.decor-span_active span{
  transform: translateY(0);
  transition: all 1s ease-out;
}

.decor-letters span{
  display: block;
  margin-left: 0;
  overflow: hidden;
  transition: all 1s ease-out;
  opacity: 1;
  @media (any-hover) {
    opacity: 0;
    margin-left: -120px;
  }
}
.decor-letters.decor-letters_active span{
  margin-left: 0;
  opacity: 1;
}
.decor-letters{
  display: flex;
}
