.select {
    -webkit-appearance: none;
    cursor: pointer;

    padding: 15px 40px 15px 14px;

    background: #F0F0F0;
    border: 1px solid #C9C9C9;
    border-radius: 8px;

    font-size: 1rem;
    line-height: 133%;
    color: #787878;

    @include _768 {
        padding: 25px 50px 25px 24px;
        font-size: 1.125rem;
    }

    transition: color .2s ease-in-out;

    &:focus {
        color: var(--dark);
    }
}

.select-wrapper {
    position: relative;
    display: block;

    &::after {
        content: '';
        position: absolute;
        right: 20px; top: 50%;
        transform: translate(0,-50%);
        width: 15px; height: 10px;
        background: url("data:image/svg+xml,%3Csvg viewBox='0 0 17 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.75 1L8.75 8L1.75 0.999999' stroke='%23252525' stroke-width='2.5'/%3E%3C/svg%3E%0A")
        center / contain no-repeat;
    }
}

.input {
    padding: 23px 21px;
    height: 70px;

    font-size: 18px;
    line-height: 133%;

    border: 2px solid #212121;
    width: 100%;

    color: #545454;

    &::placeholder {
        opacity: 1;
        color: #545454;

        transition: opacity .2s ease-in-out;
    }

    transition: color .2s ease-in-out;
    &:focus {
        color: var(--dark);
        &::placeholder {
            opacity: 0;
        }
    }

}
