.select {
    -webkit-appearance: none;
    cursor: pointer;

    padding: 15px 40px 15px 14px;

    background: #F0F0F0;
    border: 1px solid #C9C9C9;
    border-radius: 8px;

    font-size: 1rem;
    line-height: 133%;
    color: #787878;

    @include _768 {
        padding: 22px 50px 22px 24px;
        font-size: 1.125rem;
    }

    transition: color .2s ease-in-out;

    &:focus {
        color: var(--dark);
    }
}

.select-wrapper {
    position: relative;
    display: block;

    &::after {
        content: '';
        position: absolute;
        right: 20px; top: 50%;
        transform: translate(0,-50%);
        width: 15px; height: 10px;
        background: url("data:image/svg+xml,%3Csvg viewBox='0 0 17 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.75 1L8.75 8L1.75 0.999999' stroke='%23252525' stroke-width='2.5'/%3E%3C/svg%3E%0A")
        center / contain no-repeat;
        pointer-events: none;
    }
}

.input {
    padding: 23px 21px;
    height: 70px;

    font-size: 18px;
    line-height: 133%;

    border: 2px solid #212121;
    width: 100%;

    color: #545454;

    &::placeholder {
        opacity: 1;
        color: #545454;

        transition: opacity .2s ease-in-out;
    }

    transition: color .2s ease-in-out;
    &:focus {
        color: var(--dark);
        &::placeholder {
            opacity: 0;
        }
    }

}

.checkbox {

    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    cursor: pointer;

    // .checkbox__input

    &__input {
        position: absolute;
        left: 26.5px; top: 26.5px;
        @include _768 {
            left: 35px; top: 35px;
        }
        transform: translate(-50%,-50%);
        opacity: 0; visibility: hidden;
    }

    &__input:checked + &__element::before {
        opacity: 1; visibility: visible;
    }

    // .checkbox__element

    &__element {
        display: block;
        position: relative;
        width: 53px; height: 53px;
        @include _768 {
            width: 70px; height: 70px;
        }

        background: #F0F0F0;
        border: 1px solid #C9C9C9;
        border-radius: 8px;

        margin-right: 17px;

        &::before {
            content: '';
            position: absolute;
            left: 0; top: 0;
            width: 100%; height: 100%;
            background: url("data:image/svg+xml,%3Csvg viewBox='0 0 22 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.2649 0.379414C21.7917 0.893908 21.8017 1.73807 21.2873 2.26489L8.26637 15.5983C8.004 15.8669 7.64051 16.0124 7.26521 15.9992C6.88993 15.9859 6.53765 15.8149 6.29496 15.5284L0.649134 8.86174C0.173228 8.29974 0.242987 7.4584 0.804934 6.98254C1.36687 6.50667 2.2082 6.5764 2.68411 7.13827L7.38264 12.6864L19.3794 0.401774C19.8938 -0.125066 20.7381 -0.135079 21.2649 0.379414Z' fill='black'/%3E%3C/svg%3E%0A")
            center / 35% no-repeat;

            transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
            opacity: 0; visibility: hidden;
            pointer-events: none;
        }
    }

    // .checkbox__text

    &__text {
        font-size: 1.125rem;
        line-height: 133%;

        color: #535353;
    }
}

.search-input {
    background: #F0F0F0;
    border: 1px solid #C9C9C9;
    border-radius: 8px;

    font-size: 1rem;
    line-height: 115%;

    -webkit-appearance: none;

    width: 100%; min-height: 100%;
    padding: 15px;
    @include _768 {
        padding: 17.32px 24px;
        font-size: 1rem;
    }

    color: var(--dark);

    &::placeholder {
        color: #787878;
        opacity: 1;
        transition: opacity .2s ease-in-out;
    }

    &:focus::placeholder {
        opacity: 0;
    }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

.date {
    width: 100%;
    @include _768 {
        width: 336px;
    }
    display: flex;
}

.date__input {
    background: #F0F0F0;
    border: 1px solid #C9C9C9;
    border-radius: 8px;

    font-size: 1rem;
    line-height: 115%;

    width: 100%;

    -webkit-appearance: none;

    width: 100%; min-height: 100%;
    padding: 15px;
    @include _768 {
        padding: 25px 24px;
        font-size: 1rem;
    }

    color: #787878;

    transition: color .2s ease-in-out;
    &:focus {
        color: var(--dark);
    }
}

.qs-controls {
    background: var(--dark);
    color: var(--white);
    padding: 5px 0;
}

.qs-arrow:hover.qs-left:after {
    border-right-color: var(--white);
}

.qs-arrow:hover.qs-right:after {
    border-left-color: var(--white);
}

.qs-square:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(.qs-active):hover {
    background: var(--dark);
    color: var(--white);
}

.qs-square {
    border-radius: 0;
}

.custom-date {
    display: flex;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        right: 5px; top: 50%;
        transform: translate(0,-50%);
        width: 35px; height: 35px;
        background: url("data:image/svg+xml,%3Csvg viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.32427 22H18.6754C20.2846 22 21.5924 20.6922 21.5924 19.083V4.54665C21.5924 2.93739 20.2846 1.6296 18.6754 1.6296H17.5184V0.8148C17.5184 0.366646 17.1516 0 16.7035 0C16.2553 0 15.8887 0.366646 15.8887 0.8148V1.6296H6.11096V0.8148C6.11096 0.366646 5.74425 0 5.29609 0C4.84794 0 4.48129 0.366646 4.48129 0.8148V1.6296H3.32427C1.71502 1.6296 0.407227 2.93739 0.407227 4.54665V19.083C0.407227 20.6922 1.71502 22 3.32427 22ZM2.03689 4.54665C2.03689 3.83778 2.6154 3.25927 3.32427 3.25927H4.48129V4.07407C4.48129 4.52222 4.84794 4.88887 5.29609 4.88887C5.74425 4.88887 6.11089 4.52222 6.11089 4.07407V3.25927H15.8887V4.07407C15.8887 4.52222 16.2553 4.88887 16.7035 4.88887C17.1516 4.88887 17.5183 4.52222 17.5183 4.07407V3.25927H18.6753C19.3842 3.25927 19.9627 3.83778 19.9627 4.54665V6.92593H2.03689V4.54665ZM2.03689 8.55553H19.9628V19.083C19.9628 19.7918 19.3843 20.3703 18.6754 20.3703H3.32427C2.6154 20.3703 2.03689 19.7918 2.03689 19.083V8.55553Z' fill='%23252525'/%3E%3C/svg%3E%0A")
        center / 50% no-repeat;
        pointer-events: none;
    }

    &__input {
        cursor: pointer;

        background: #F0F0F0;
        border: 1px solid #C9C9C9;
        border-radius: 8px;

        font-size: 1rem;
        line-height: 115%;

        width: 100%;

        -webkit-appearance: none;

        width: 100%; min-height: 100%;
        padding: 10px 25px 10px 10px;
        &._large {
            padding: 15px 30px 15px 15px;
        }
        @include _768 {
            padding: 15px 19px;
            &._large {
                padding: 25px 24px;
            }
        }

        color: #787878;

        transition: color .2s ease-in-out;
        &:focus {
            color: var(--dark);
        }
    }
}
