.popup {
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 100%;

    display: flex;
    align-items: center;

    padding: 10px;

    z-index: 102;

    opacity: 0;

    &-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;

        min-height: 100%;

        z-index: 2;
    }
    &-bg {
        position: absolute;
        left: 0; top: 0;
        width: 100%; height: 100%;
        background: black;

        opacity: .7;

    }
    &-body {
        margin: auto;
        position: relative;
        background: var(--white);
        
        max-height: calc(var(--height-screen) - 30px);
        max-width: var(--container, 100%);
        width: 100%;

        z-index: 2;
    }
    &-scroll-section {
        overflow-y: auto;
        overflow-x: hidden;
        max-height: calc(var(--height-screen) - 200px);

        &::-webkit-scrollbar {
            width: 6px; height: 6px;
            
        }
        &::-webkit-scrollbar-track {
            background: #C9C9C9;
            border: 2px solid var(--white);
        }
        &::-webkit-scrollbar-thumb {
            background: var(--dark-green);
            
        }
    }
    &-close-btn {
        position: absolute;
        z-index: 100;
        right: 15px; top: 15px;
        width: 45px; height: 45px;
        @include _992 {
            right: 39px; top: 47px;
            width: 63px; height: 63px;
        }
        
        & svg {
          width: 35%;
          & path {
            transition: fill .2s ease-in-out;
          }
        }

        display: flex;
        justify-content: center;
        align-items: center;

        background: white;
        border: 2px solid #2E2E2E;

        transition: background .2s ease-in-out;
        &:hover, &:hover svg path {
            background: #2E2E2E;
            fill: var(--white);  
        }
        
        &:active {
            background: #161616;
        }
    }
}

.article-popup {

    // .article-popup__wrapper

    &__wrapper {
    }

    // .article-popup__bg

    &__bg {
    }

    // .article-popup__body

    &__body {
        max-width: 1500px;

        padding: 70px 15px 15px 15px;
        @include _992 {
            padding: 130px 68px 30px 50px;
        }

        & .decor-text {
            z-index: -1;
        }
    }

    // .article-popup__close-btn

    &__close-btn {
        
    }

    // .article-popup__scroll-section

    &__scroll-section > * {
        padding-right: 30px;
    }
}

.scheme-popup {

    // .scheme-popup__wrapper

    &__wrapper {
    }

    // .scheme-popup__bg

    &__bg {
    }

    // .scheme-popup__body

    &__body {

        

        & .person__scheme {
            min-height: auto;
        }

        & .person__scheme--text h3 {
            font-size: 0.875rem;
        }

        & .person__scheme--text p {
            font-size: 0.75rem;
        }

        & .person__scheme--item {
            width: 250px;
        }
        
        & .person__scheme--wrapper {
            height: calc(var(--height-screen) - 200px);
        }
        & .person__scheme-tags {
            margin-top: 0;
            padding-top: 80px;
        }

        
    }

    // .scheme-popup__close-btn

    &__close-btn {
        width: 30px; height: 30px;
        right: 0; top: 0;
    }
}

.graph-popup {

    // .graph-popup__wrapper

    &__wrapper {
    }

    // .graph-popup__bg

    &__bg {
    }

    // .graph-popup__body

    &__body {
    }

    // .graph-popup__close-btn

    &__close-btn {
    }

    // .graph-popup__scroll-section

    &__scroll-section {
        max-height: calc(var(--height-screen) - 30px);
    }

    // .graph-popup__title

    &__title {
        padding: 15px;

        font-family: var(--title-font);
        font-weight: 900;
        font-size: 2rem;
        @include _768 {
            padding: 57px 15px 15px 57px;
            font-size: 3rem;
        }
        
        @include _992 {
            font-size: 3.75rem;
        }
        line-height: 100%;
        color: #252525;
    }

    // .graph-popup__block

    &__block {
        display: grid;
        grid-template-columns: 100%;
        @include _992 {
            grid-template-columns: auto 325px;
        }
        @media (min-width: 1336px) {
            grid-template-columns: auto 385px;
        }

        padding-top: 51px; padding-bottom: 23px;
    }

    // .graph-popup__main

    &__main {
        display: flex;
        flex-direction: column;

        &--wrapper {
            flex: 1 1 auto;

            & img {
                max-width: 100%;
                object-fit: contain;
            }
        }

        &--footer {
            padding-top: 40px;
            padding-left: 15px;
            @include _992 {
                padding-top: 40px;
                padding-left: 70px;
            }
        }

        &--print {
            width: 55px; height: 55px;

            display: flex;
            align-items: center;
            justify-content: center;

            background: #2E2E2E;

        }
    }

    // .graph-popup__aside

    &__aside {

        padding-left: 15px;

        @include _992 {
            padding-left: 0;
            margin-top: -20px;
        }

        padding-right: 15px;
        @media (min-width: 1336px) {
            padding-right: 43px;
        }

        // .graph-popup__aside--item

        &--item {
            margin-top: 20px;
        }

        // .graph-popup__aside--categories

        &--categories {
        }
    }

    // .graph-popup__item

    &__item {

        // .graph-popup__item--header

        &--header {
            display: flex;
            align-items: center;

            background: #212121;
            color: var(--white);

            font-size: 1rem;
            @include _768 {
                font-size: 1.125rem;
            }
            
            @include _992 {
                font-size: 1.25rem;
            }
        }

        // .graph-popup__item--icon

        &--icon {
            background: #FFFFFF;
            border: 2px solid #212121;

            display: flex;
            align-items: center;
            justify-content: center;

            width: 40px; height: 40px;

            margin: 10px 13px;
        }

        // .graph-popup__item--list

        &--list {
        }

        // .graph-popup__item--element

        &--element {
            border: 1px solid #212121;
            border-top: 0;

            position: relative;
            z-index: 2;

            font-size: 1.125rem;
            line-height: 133%;
            color: #1D1D1D;

            padding: 14px;

            display: flex;
            align-items: center;
            justify-content: space-between;

            &.swiper-slide-visible {
                pointer-events: auto;
            }

            & a {
                padding-right: 10px;
                color: var(--dark);
            }
        }

        // .graph-popup__item--remove-btn

        &--remove-btn {
            width: 30px; height: 30px;
            
            background: #F3F3F3 url("data:image/svg+xml,%3Csvg viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2581 1.77443L13.1936 0.709961L7.48391 6.41991L1.77418 0.709961L0.709717 1.77443L6.41944 7.48415L0.709717 13.1939L1.77418 14.2583L7.48391 8.54862L13.1936 14.2583L14.2581 13.1939L8.54838 7.48415L14.2581 1.77443Z' fill='%232E2E2E'/%3E%3C/svg%3E%0A")
            center / 55% no-repeat;
        }

        // .graph-popup__item--footer

        &--footer {
            display: flex;
            justify-content: flex-end;

            padding-top: 5px;
        }

        // .graph-popup__item--arrow

        &--arrow {
            position: static;
            margin: 4px;

            width: 35px; height: 35px;
            border: 1px solid #2E2E2E;
            background: #2E2E2E;

            transition: background .2s ease-in-out;

            &.swiper-button-disabled {
                opacity: 1;
                background: var(--white);

                &::after {
                    color: #2E2E2E;
                }
            }

            &::after {
                font-size: 12px;
                color: var(--white);
                transition: color .2s ease-in-out;
            }

        }
    }

    // .graph-popup__categories

    &__categories {

        display: flex;
        flex-direction: column;

        padding-top: 15px;

        & .tags__list {
            margin: -5px;
        }

        & .tags__item--body {
            border-radius: 2px;
            background: transparent;
            border: 1px solid #212121;
        }

        & .tags__item {
            padding: 5px;
        }

        & .tags__item--text {
            text-align: left;
        }

        &--title {
            font-size: 1rem;
            @include _768 {
                font-size: 1.125rem;
            }
            
            @include _992 {
                font-size: 1.25rem;
            }
            line-height: 133%;
            color: #2E2E2E;

            margin-bottom: 10px;

        }

        // .graph-popup__categories--add-btn

        &--add-btn {
            margin-top: 20px;

            display: flex;
            align-items: center;
            justify-content: center;

            width: 55px; height: 55px;
            font-weight: 700;
            font-size: 55px;

            background: #2E2E2E;

            align-self: flex-end;
        }
    }
}

.company-popup {

    // .company-popup__wrapper

    &__wrapper {
    }

    // .company-popup__bg

    &__bg {
    }

    // .company-popup__body

    &__body {
        max-width: 1183px;
        padding: 81px 5px 30px 15px;
        @include _768 {
            padding: 141px 38px 43px 48px;
        }
    }

    // .company-popup__close-btn

    &__close-btn {
    }

    // .company-popup__scroll-section

    &__scroll-section {
    }

    // .company-popup__inner

    &__inner {
        padding-right: 10px;
    }

    // .company-popup__title

    &__title {
        font-weight: 600;
        font-size: 1.125rem;
        @include _768 {
            font-size: 1.5rem;
        }
        
        @include _992 {
            font-size: 1.875rem;
        }
        line-height: 93%;
        color: #1D1D1D;
    }

    // .company-popup__info

    &__info {

        padding-top: 32px;

        // .company-popup__info--row

        &--row {

            display: flex;
            align-items: center;
            padding: 14px 0;

            font-size: 0.875rem;
            @include _768 {
                font-size: 1.125rem;
            }
            
            @include _992 {
                font-size: 1.25rem;
            }
            line-height: 120%;
            color: #383838;

            & span:first-child {
                position: relative;
                flex: 1 1 auto;
                background: #FFF;
                overflow: hidden;

                min-width: 33%;
                
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 10%;
                    margin-left: 0.5em;
                    width: calc(100% - 10px);
                    border-bottom: 1px dashed #D6D6D6;
                }
            }
            & span:last-child {
                padding-left: 5px;
                text-align: right;
            }
        }
    }

    // .company-popup__footer

    &__footer {
        padding-top: 40px;
        display: flex;
        justify-content: center;
    }

    // .company-popup__add-info

    &__add-info {
        font-family: var(--title-font);
    }
}

.add-popup {

    // .add-popup__wrapper

    &__wrapper {
    }

    // .add-popup__bg

    &__bg {
    }

    // .add-popup__body

    &__body {
        padding: 75px 0px 30px 0px;
        @include _992 {
            padding: 141px 25px 70px 25px;
        }
    }

    // .add-popup__close-btn

    &__close-btn {
    }

    // .add-popup__scroll-section

    &__scroll-section {
    }

    // .add-popup__form

    &__form {
        display: flex;
        align-items: center;
        flex-direction: column;

        padding: 0 15px;
    }

    // .add-popup__title

    &__title {
        padding-bottom: 11px;

        font-weight: 600;
        font-size: 1.875rem;
        line-height: 93%;
        text-align: center;

        color: #1D1D1D;
    }

    // .add-popup__label

    &__label {
        margin-top: 20px;

        max-width: 705px;
        width: 100%;

        position: relative;
        
        display: flex;
        align-items: center;

        background: #F0F0F0;
        border: 1px solid #C9C9C9;
        border-radius: 8px;
    }

    // .add-popup__input

    &__input {
        padding: 25px 30px;
        border-radius: 8px;

        width: 100%;

        background: transparent;

        font-size: 1rem;
        @include _992 {
            font-size: 1.125rem;
        }
        line-height: 116.666667%;

        color: #787878;

        &::placeholder {
            opacity: 1;
            color: #787878;

            transition: opacity .2s ease-in-out;
        }

        transition: color .2s ease-in-out;
        &:focus {
            color: var(--dark);
            &::placeholder {
                opacity: 0;
            }
        }

    }

    // .add-popup__clone-btn

    &__clone-btn {
        display: block;
        width: 54px; height: 54px;
        margin: 8px;

        background: #2E2E2E url("data:image/svg+xml,%3Csvg viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.9499 9.45H11.5501V1.04994C11.5501 0.470462 11.0796 0 10.4999 0C9.92046 0 9.45 0.470462 9.45 1.04994V9.45H1.04994C0.470462 9.45 0 9.92046 0 10.4999C0 11.0796 0.470462 11.5501 1.04994 11.5501H9.45V19.9499C9.45 20.5296 9.92046 21.0001 10.4999 21.0001C11.0796 21.0001 11.5501 20.5296 11.5501 19.9499V11.5501H19.9499C20.5296 11.5501 21.0001 11.0796 21.0001 10.4999C21.0001 9.92046 20.5296 9.45 19.9499 9.45Z' fill='white'/%3E%3C/svg%3E%0A")
        center / 50% no-repeat;
        border: 2px solid #2E2E2E;
        border-radius: 2px;

        transition: background-color .2s ease-in-out;
        &:hover {
            background-color: #3b3b3b;
        }
        
        &:active {
            background-color: #1b1b1b;
        }
    }

    // .add-popup__submit

    &__submit {
        margin-top: 29px;
    }
}
