.form-page {

    // .form-page__container

    &__container {
        position: relative;
    }

    // .form-page__decor-text

    &__decor-text {
        top: 25px !important; 

        @media (min-width: 500px) {
            top: 85px !important; 
        }

        bottom: auto !important;
    }

    // .form-page__title

    &__title {
    }

    // .form-page__block

    &__block {
        position: relative;
        z-index: 2;

        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;

        margin: -10px;
        padding-top: 24px;

        @include _992 {
            margin: -17.5px;
            padding-top: 44px;
        }
        
    }

    // .form-page__label

    &__label {

        flex: 1 1 100%;

        @media (min-width: 500px) {
            flex: 0 1 50%;
        }

        @include _768 {
            flex: 0 1 33.333%;
        }

        padding: 10px;
        
        @include _992 {
            flex: 0 1 25%;
            padding: 17.5px;
        }

        &._large {
            flex: 1 1 auto;
            @include _992 {
                flex: 0 1 50%;
            }
        }

        &._super-large {
            flex: 1 1 auto;
            @include _992 {
                flex: 0 1 75%;
            }
        }

        &._full {
            flex: 1 1 100%;
        }

        // .form-page__label--legend

        &--legend {
            font-weight: 500;
            font-size: 1rem;
            line-height: 194%;
            color: #212121;

            display: block;

            @include _768 {
                font-size: 1.125rem;
            }
        }
    }

    // .form-page__switch

	&__switch {

        @include _768 {
            max-width: 300px;
        }

		// .form-page__switch--body

		&--body {
            padding: 2px 2.5px;
            background: #FFFFFF;
            border: 2px solid #212121;

            display: flex;
            min-height: 70px;
		}

		// .form-page__switch--btn

		&--btn {
            position: relative;
            padding: 2.5px;

            cursor: pointer;
            min-height: 100%;

            flex: 0 1 50%;
		}

		// .form-page__switch--input

		&--input {
            position: absolute;
            left: 50%; top: 50%;
            transform: translate(-50%,-50%);
            opacity: 0; visibility: hidden;
		}

        &--input:checked + &--name {
            background: #212121;
            color: #FFFFFF;
        }

		// .form-page__switch--name

		&--name {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 11px 15px;
            min-height: 100%;
            
            text-align: center;

            font-weight: 500;
            font-size: 1.125rem;
            line-height: 194%;

            color: #212121;

            transition: background .2s ease-in-out, color .2s ease-in-out;
            &:hover {
                background: #dddddd;
            }
            
            &:active {
                background: #c2c2c2;
            }
		}
	}

    // .form-page__input

    &__input {
        margin-top: 3px;
    }

    // .form-page__submit

    &__submit {
        font-family: 'Uni Sans';
        font-weight: 900;
        font-size: 1.125rem;
        line-height: 159%;

        text-align: center;

        color: #FFFFFF;
        background: #212121;

        transition: background .2s ease-in-out;
        &:hover {
            background: #3d3d3d;
        }
        
        &:active {
            background: #161616;
        }

        min-width: 264px;

        @include _768 {
            font-size: 1.375rem;
        }

        /* min-width: 100%; */ min-height: 70px;
    }

    &__link {
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 194%;

        text-decoration-line: underline;

        color: #212121;
    }

    &__footer {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: space-between;
        align-items: center;

        flex: 1 1 100%;
        padding: 10px;
        
        @include _992 {
            padding: 17.5px;
        }

        margin: -10px;

        & > * {
            padding: 10px;
        }
    }
}
