@keyframes infiniteOpacity {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.tag-cloud {

    // .tag-cloud__container

    &__container {
        width: 100%;
    }

    // .tag-cloud__title

    &__title {
    }

    &__block {
        padding-top: 25px;

    }

    // .tag-cloud__list

    &__list {
        transition-timing-function: linear;
        //transform: translate(-150%,0);
    }

    // .tag-cloud__item

    &__item {

        display: inline-block;
        width: auto;

        padding: 8px;

        font-size: 1rem;
        line-height: 156%;

        text-align: center;

        color: #242424;

        @include _768 {
            font-size: 1.125rem;
            padding: 8px;
        }

        /* opacity: 0;
        animation: infiniteOpacity 4s ease var(--delay) infinite normal forwards; */

        // .tag-cloud__item--body

        &--body {
            padding: 10px 15px;
            background: var(--light);
            border-radius: 5px;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 175px;

            @include _768 {
                padding: 13px 20px;
            }
            
            @include _992 {
                padding: 16px 25px;
            }
        }
    }
}
