.articles {

    // .articles__container

    &__container {
    }

    // .articles__title

    &__title {
    }

    // .articles__slider

    &__slider {

        position: relative;
        
        &--body {
            margin: 25px 20px 35px 20px;
            @include _992 {
                margin: 33px 50px 52px 50px;
                //margin-top: 33px; margin-bottom: 52px;
            }
        }

        // .articles__slider--list

        &--list {
        }

        // .articles__slider--slide

        &--slide {
        }

        // .articles__slider--arrow

        &--arrow {
            transition: opacity .2s ease-in-out, background .2s ease-in-out;
            &.swiper-button-disabled {
                opacity: 1;
            }
            &.swiper-button-prev {
                left: 0;
            }
            &.swiper-button-next {
                right: 0;
            }
            margin-top: 0;
            transform: translate(0,-50%);

            background:#252525;
            &:hover {
                background:#3f3f3f;
            }
            
            &:active {
                background:#111111;
            }

            width: 35px; height: 35px;
            @include _992 {
                width: 50px; height: 50px;
            }
            &::after {
                color: var(--white);
                font-size: 16px;
                font-weight: 900;
            }
        }
    }

    // .articles__filter

    &__filter {

        display: flex;
        flex-wrap: wrap;

        margin: -10px;

        padding-bottom: 15px;
        @include _992 {
            padding-bottom: 25px;
        }

        // .articles__filter--item

        &--item {
            display: flex;
            flex-direction: column;
            @media (min-width: 600px) {
                flex-direction: row;
                align-items: center;
            }
            flex: 1 1 auto;

            padding: 10px;

            &:nth-child(1) {
                flex: 1 1 100%;
                @media (min-width: 1200px) {
                    flex: 0 1 50%;
                }
                @media (min-width: 1700px) {
                    flex: 0 1 33%;
                }
            }
            &:nth-child(2) {
                flex: 0 1 100%;
                @include _768 {
                    flex: 0 1 60%;
                }
                @media (min-width: 1200px) {
                    flex: 0 1 50%;
                }
                @media (min-width: 1700px) {
                    flex: 0 1 37%;
                }
            }
            &:nth-child(3) {
                flex: 0 1 50%;
                @include _768 {
                    flex: 0 1 40%;
                }
                @media (min-width: 1200px) {
                    flex: 0 1 30%;
                }
                @media (min-width: 1700px) {
                    flex: 0 1 15%;
                }
            }
            &:nth-child(4) {
                flex: 0 1 50%;
                @include _768 {
                    flex: 0 1 40%;
                }
                @media (min-width: 1200px) {
                    flex: 0 1 30%;
                }
                @media (min-width: 1700px) {
                    flex: 0 1 15%;
                }
            }
        }

        // .articles__filter--title

        &--title {
            padding-right: 9px;

            font-size: 1.125rem;
            line-height: 133%;

            white-space: nowrap;

            color: #1D1D1D;

        }

        // .articles__filter--item-row

        &--item-row {
            flex: 1 1 auto;

            display: flex;
            margin: -5px;

            padding-top: 10px;
            @media (min-width: 600px) {
                padding-top: 0;
            }

            & > * {
                flex: 1 1 auto;
                padding: 5px;
            }
        }

        // .articles__filter--label

        &--label {
        }

        // .articles__filter--date

        &--date {
            width: 100%;
            min-width: 100%;
            max-width: 100%;
        }

        // .articles__filter--select-wrapper

        &--select-wrapper {
            width: 100%;
        }

        // .articles__filter--select

        &--select {
            width: 100%;
            &.select {
                padding: 10px 25px 10px 10px;
                @include _768 {
                    padding: 15px 19px;
                }
                font-size: 1rem;
            }
        }
    }

    // .articles__tag

    &__tag {
        display: inline-block;
        font-size: 0.875rem;
        @include _992 {
            font-size: 1.125rem;
        }
        line-height: 156%;
        width: auto;

        text-align: center;

        color: #242424;
        & a {
            color: #242424;
            display: block;
            padding: 10px;
            @include _992 {
                padding: 13px 18px;
            }

            //background: #F8F8F8;
            text-decoration: underline;
            border-radius: 5px;
        }
    }

    // .articles__list

    &__list {
        padding-top: 17px;
        padding-right: 5px;

        display: flex;
        flex-wrap: wrap;

        margin: -15px;
        @include _768 {
            margin: -15px -25px;
        }
    }

    // .articles__item

    &__item {

        flex: 0 1 100%;

        @include _768 {
            flex: 0 1 50%;
        }
        
        @include _992 {
            flex: 0 1 33.333%;
        }

        @media (min-width: 1440px) {
            flex: 0 1 25%;
        }

        padding: 15px;

        // .articles__item--body

        &--body {
            //padding: 10px 25px 10px 25px;
            @include _768 {
                padding-right: 25px;
                padding-left: 10px;
            }
            & h3 {
                font-weight: 700;
                font-size: 1.125rem;
                @include _768 {
                    font-size: 1.25rem;
                }
                
                @include _992 {
                    font-size: 1.5rem;
                }
                line-height: 133%;
                color: #252525;

                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    left: -7px; top: 15px;
                    transform: translate(-100%,0);
                    width: 12px; height: 3px;
                    background: var(--dark-green);
                }

            }

            & p {
                padding-top: 13px;
                
                @include _992 {
                    padding-top: 23px;
                    font-size: 1.125rem;
                }

                font-size: 1rem;
                line-height: 156%;
                color: #666666;
            }

            & a {
                display: inline-block;
                margin-top: 12px;

                @include _992 {
                    font-size: 1.125rem;
                }

                font-weight: 600;
                font-size: 1rem;
                line-height: 156%;

                text-decoration-line: underline;

                &:hover {
                    text-decoration: none;
                }

                color: #252525;

            }
        }
    }

    &__footer {
        display: flex;
        justify-content: center;
    }
}
